-if @recipe.photo.exists?
  =image_tag @recipe.photo.url(:medium)
-else
  =image_tag("image.jpg", size:"300x300")
%h2
  =@recipe.title
%p
  =@recipe.description
%h4
  Ingredients:
-@recipe.ingredients.each do |ingredient|
  %p
    =ingredient.quantity
    =ingredient.name
%h4
  Directions:
%ol
  -@recipe.directions.each do |direction|
    %li
      =direction.step
%button
  =link_to "edit", edit_recipe_path(@recipe)
%button
  =link_to "delete", recipe_path(@recipe), method: :delete, data: {:confirm => 'Are you sure?'}
